.App {
  text-align: center;
}

.App-logo {
  
  height: 100px;
}

.App-header {
    text-align: center;
    height: 45px;
    padding-top: 10px;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
